body{
    background: beige;
    text-align: center;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
form {
    
    border: 3px solid black;
   background: rgba(255, 255, 0, 0.699)
  
}
#timeContainer {
    font-size: 40px;
}

#submitBtn {
    background-color: blue;
    color: white;
    padding: 15px;
}